<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HealthRec</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body style="scrollbar-width: none">

<div>
    <main role="main" class="pb-3">
        <partial name="_Navbar"/>
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h4 class="footer-title">HealthRec</h4>
                <p>Сигурна и ефективна система за управление на здравна информация, предназначена да рационализира грижите за пациентите и да подобри резултатите от здравеопазването.</p>
            </div>
            <div class="col-md-3 mb-4">
                <h4 class="footer-title">Бързи връзки</h4>
                <a href="#" class="footer-link">Начална страница</a>
                <a href="#" class="footer-link">За нас</a>
                <a href="#" class="footer-link">Услуги</a>
                <a href="#" class="footer-link">Контакти</a>
                <a href="#" class="footer-link">Политика за поверителност</a>
            </div>
            <div class="col-md-5 mb-4">
                <h4 class="footer-title">Свържете се с нас</h4>
                <p><i class="bi bi-geo-alt me-2"></i> ул. Македония 49, Бургас 8000/p>
                <p><i class="bi bi-telephone me-2"></i> (555) 123-4567</p>
                <p><i class="bi bi-envelope me-2"></i> info@healthrec.com</p>
            </div>
        </div>
        <div>
            <p>&copy; 2025 HealthRec. <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: #c1ffd9">Поверителност</a></p>
        </div>
    </div>
</footer>
</html>